.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 150px;
}
.card-pard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    margin-left: 50px;
    
}
.detels-part{
    position: sticky;
    top:0;
}